<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingxing.user.dao.ApiHeadDao">
    <!-- <insert id="save">

         <trim prefix="(" suffix=")" suffixOverrides=",">
             id,
             <if test="head.name != '' and head.name != null">
                 name,
             </if>
             <if test="head.value != '' and head.value != null">
                 value,
             </if>
             <if test="apiId != '' and apiId != null">
                 interface_id,
             </if>
         </trim>
         <foreach collection="headDict" item="head" open="INSERT INTO tb_interface_head" separator=";">
             <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
                 REPLACE(UUID(),"-",""),
                 <if test="head.name != '' and head.name != null">
                     #{head.name},
                 </if>
                 <if test="head.value != '' and head.value != null">
                     #{head.value},
                 </if>
                 <if test="apiId != '' and apiId != null">
                     #{apiId},
                 </if>
             </trim>
         </foreach>
     </insert>-->


    <insert id="save">
        INSERT INTO tb_interface_head(id,name,value,interface_id) VALUES
        <foreach collection="headDict" item="head" separator=",">
            (REPLACE(UUID(),"-",""),#{head.name}, #{head.value}, #{apiId})
        </foreach>
    </insert>


    <delete id="deleteByInterfaceId" parameterType="java.lang.String">
      DELETE FROM tb_interface_head
        <where>
        interface_id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
            </foreach>
        </where>
    </delete>
</mapper>