<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingxing.user.dao.APIRequestDao">



    <insert id="save">
        insert into
        tb_interface_param(id,name,`value`,interface_id,description,param_required,param_restrict,param_type)
        VALUES
        <foreach collection="requestList" item="request" separator=",">
            (REPLACE(UUID(),"-",""),#{request.name}, #{request.value},
            #{apiId},#{request.description},#{request.required},#{request.restrict},#{request._type})
        </foreach>
    </insert>






    <delete id="deleteByInterfaceId" parameterType="java.lang.String">
        DELETE FROM tb_interface_param
        <where>
            interface_id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </delete>
</mapper>