<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingxing.user.dao.APIRequestDao">

    <insert id="save">
        <foreach collection="requestList" item="request" open="INSERT INTO tb_interface_param" separator=";">
            <trim prefix="(" suffix=")" suffixOverrides=",">

                    id,

                <if test="request.name != '' and request.name != null">
                    name,
                </if>
                <if test="request.value != '' and request.value != null">
                    value,
                </if>
                <if test="request.description != '' and request.description != null">
                    description,
                </if>
                <if test="request.required != '' and request.required != null">
                    required,
                </if>
                <if test="request.restrict != '' and request.restrict != null">
                    restrict,
                </if>
                <if test="request._type != '' and request._type != null">
                    type,
                </if>
                <if test="apiId != '' and apiId != null">
                    interface_id,
                </if>
            </trim>
            <trim prefix="VALUES (" suffix=")" suffixOverrides=",">

                    REPLACE(UUID(),"-",""),

                <if test="request.name != '' and request.name != null">
                    #{request.name},
                </if>
                <if test="request.value != '' and request.value != null">
                    #{request.value},
                </if>
                <if test="request.description != '' and request.description != null">
                    #{request.description},
                </if>
                <if test="request.required != '' and request.required != null">
                    #{request.required},
                </if>
                <if test="request.restrict != '' and request.restrict != null">
                    #{request.restrict},
                </if>
                <if test="request._type != '' and request._type != null">
                    #{request._type},
                </if>
                <if test="apiId != '' and apiId != null">
                    #{apiId},
                </if>
            </trim>
        </foreach>
    </insert>
</mapper>